<button class="btn-dark" id="submit_token">Save</button><br>
Test:<br>
<input type="text" size="20" name="game_name" value="iidx"> <input type="text" size="7" name="game_ver" value="23">
<button class="btn-dark" id="submit_game_ver">Save</button><br>
Rival Type:<br>
<input type="text" size="30" name="rival_type" value="sp_profile_ids">
<button class="btn-dark" id="submit_rival_type">Save</button><br>
<div class="clearfix" style="width:100%;">
  <div id="col1" style="float:left; margin:0; width:75%;">
    <div>Currently Selected Rivals:</div>
    <div id="songs" />
  </div>
  <div id="col2" style="float:left; margin:0; width:25%;">
    <div>Keep:</div>
    <div id="favs" />
  </div>
</div>
<button class="btn-dark" id="populate_selected">Export</button>
<button class="btn-dark" id="randomize_selected">Import</button>
<textarea readonly="" rows="5" cols="13" wrap="soft" style="overflow:hidden; resize: none; white-space: pre;" id="selected_rivals"></textarea>

<br><br>
<h2>Instructions</h2>
Fill up Rivals with some rival ids (hit populate, copy out, hit randomize with an empty rivals list, add more using arcana)
<h3>For Rival Type:</h3>
<div>
Use sp_profile_ids/dp_profile_ids for iidx<br>
Use profile_ids for sdvx
</div>
<script src="{{ '/assets/js/core.js?v=' | append: site.github.build_revision | relative_url }}" type="text/javascript"></script>
