<table>
<thead>
<tr>
<th>Song</th>
<th>Fav Settings</th>
</tr>
</thead>
<tbody id="songs_table">
</tbody>
</table>

<div class="clearfix" style="width:100%;">
  <div id="col1" style="float:left; margin:0; width:75%;">
    <div>Currently Selected Rivals:</div>
    <div id="songs"></div>
  </div>
  <div id="col2" style="float:left; margin:0; width:25%;">
    <div>Keep:</div>
    <div id="favs"></div>
  </div>
</div>

<button class="btn-dark" id="export_selected">Export</button>
<button class="btn-dark" id="import_from">Import</button>
<textarea rows="5" cols="64" wrap="soft" id="xml_data"></textarea>

<br><br>
<h2>Instructions</h2>
Fill up Rivals with some rival ids (hit populate, copy out, hit randomize with an empty rivals list, add more using arcana)
<h3>For Rival Type:</h3>
<div>
Use sp_profile_ids/dp_profile_ids for iidx<br>
Use profile_ids for sdvx
</div>
<script src="{{ '/assets/js/core.js?v=' | append: site.github.build_revision | relative_url }}" type="text/javascript"></script>
