---
---

@import "{{ site.theme }}";


.btn-dark {
  @extend .btn;
  color: rgba(0, 0, 0, 0.7);
  background-color: rgba(0, 0, 0, 0.08);
  border-color: rgba(0, 0, 0, 0.2);
  &:hover {
    color: rgba(0, 0, 0, 0.8);
    background-color: rgba(0, 0, 0, 0.2);
    border-color: rgba(0, 0, 0, 0.3);
  }
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
